<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] Abdulhakim Ahmed</title>
    <meta content="" name="description">
    <meta content="" name="keywords">



    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/128/9496/9496161.png" />


    @RenderSection("Styles",required:false)
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @RenderSection("Scripts",required: false)
</body>
</html>
