@inject SignInManager<ApplicationUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title> Abdulhakim Ahmed - Web Developer 💻</title>
    <meta content="Abdulhakim Ahmed a Web Developer who loves building websites & loves programming." name="description">
    <meta content="Abdulhakim Ahmed,  Abdulhakim , Kemo , Ahmad , web ,web-development , web developer , developer , free , Asp.net core mvc , Asp.net ,.net developer ,html, css , sql ,javascript , js , jquery , bootstrap" name="keywords">






    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/128/9496/9496161.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/CFE/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/CFE/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/CFE/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/CFE/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/CFE/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/CFE/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/CFE/css/main.css">
    <link href="~/cfe/css/css2.css" rel="stylesheet" />
    <!--===============================================================================================-->


    <link href="~/cfe/css/socialmedia.css" rel="stylesheet" />



    <!-- Favicons -->
    <link href="https://cdn-icons-png.flaticon.com/128/9496/9496161.png" rel="icon">
    <link href="~/FrontEnd/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">



    <!-- Vendor CSS Files -->
    <link href="~/FrontEnd/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/FrontEnd/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/FrontEnd/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/FrontEnd/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/FrontEnd/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/FrontEnd/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/FrontEnd/css/style.css" rel="stylesheet">

   


    @RenderSection("Styles",required:false)
</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
        <div  class="container d-flex align-items-center justify-content-between">

      <div class="logo">
                <h1 style="font-size: 18px;
    font-weight: bolder;" class="text-light">
                    <a href="/home/index"> <span id="firstName" style="color:rebeccapurple;font:bolder;padding-left: 20px;"></span>  <span style="color:rebeccapurple;font:bolder;" id="secondName"></span></a>
                </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="~/FrontEnd/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

            <nav id="navbar" class="navbar">
        <ul>
          

          @if(signInManager.IsSignedIn(User))
          {

                <li> <a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About Us</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
                <li><a class="nav-link scrollto" href="#team">Skills</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>

                <li><a class="nav-link scrollto" href="/admin/home">Admin</a></li>
                
          }
          else
          {
                <li> <a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About Us</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
                <li><a class="nav-link scrollto" href="#team">Skills</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          }


            @if(signInManager.IsSignedIn(User))
            {
                        <li>
                            <a style="background: #b21240f5 ;text-align: center;color:#fff;margin: 60px;place-content: center;" class="getstarted scrollto" asp-controller="users" asp-action="LoginOut">Logout</a>
                        </li>
            }
            else
            {
                        <li><a style="background: #3d3a4e;text-align: center;color:#fff;margin: 60px;place-content: center;" class="getstarted scrollto" asp-controller="users" asp-action="login">Login</a></li>
            }
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
      
        <div>

        @RenderBody()
        </div>
       
        
  <!-- ======= Footer ======= -->
    <footer id="footer" style="border-top-right-radius: 30px; border-top-left-radius: 30px;">

      

        <div style="background: #72669100 !important;" class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Contact Me</h3>
                        
                           
                            <strong>Phone:</strong>
                        <p style="font-family: none;" id="phone"></p><br>
                        <strong>Email:</strong> <p style="font-family: none;" id="email"></p><br>
                        

                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#team">Skills</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Portfolio</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#contact">contact</a></li>
                            
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>   
                            <li><i class="bx bx-chevron-right"></i> <a href="#">SEO</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="row">
                        <h4 style="text-align:center;padding-left: 40px;"> Find Me On </h4>
                        <ul style="text-align:center;" class="social-icons">
                            <li><a id="Linkedin" href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a id="Github" href="#" target="_blank"><i class="fa fa-github"></i></a></li>
                            <li><a id="Twitter" href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="container py-4">
            <div style="text-align: center;float: none;" class="copyright">
                Copyright &copy; Abdulhakim Ahmed <script>document.write(new Date().getFullYear());</script>
            </div>
            
        </div>
    </footer><!-- End Footer -->

    <a style="background: #540c9e;" href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>




    <!--===============================================================================================-->
    <script src="~/CFE/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/CFE/vendor/bootstrap/js/popper.js"></script>
    <script src="~/CFE/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/CFE/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/CFE/vendor/tilt/tilt.jquery.min.js"></script>


    <!--===============================================================================================-->

    <script src="~/CFE/js/main.js"></script>


     

  <!-- Vendor JS Files -->
  <script src="~/FrontEnd/vendor/aos/aos.js"></script>
  <script src="~/FrontEnd/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/FrontEnd/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="~/FrontEnd/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="~/FrontEnd/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="~/FrontEnd/vendor/php-email-form/validate.js"></script>



  <!-- Template Main JS File -->
  <script src="~/FrontEnd/js/main.js"></script>



  

    @RenderSection("Scripts",required: false)

        @* API Respones *@
    <script src="~/modules/helper.js"></script>
    <script src="~/modules/informations.js"></script>


    @* // For toast alert. *@
    @await Component.InvokeAsync("NToastNotify")


</body>
</html>
